/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.button-container button {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent; /* Removed the background color */
}

.button-container button img {
  max-width: 100%;
  max-height: 100%;
}

.button-container button:hover {
  background-color: #f0f0f0;
}

.button-container button:focus {
  outline: none;
}

.button-container button:active {
  transform: scale(0.95);
}

/* Additional Styling for the Reset Input and Reset Result buttons */
.button-container button.reset {
  background-color: #f44336;
  color: white;
}

.button-container button.reset:hover {
  background-color: #d32f2f;
}

.button-container button.reset:active {
  transform: scale(0.95);
}

.button-container button.selected {
  background-color: #f0f0f0; /* You can set any background color you prefer for the selected button */
}
